<!DOCTYPE html>
<html>

<head>
    <title>nodejs practice</title>
    <script>
        function button1_click() {
            alert('alert버튼을 클릭하셨습니다!');
        }
        var data = <%= data %>;
        var itemInfo = '아이템 정보 : ' + data;
        var userInfo = '유저 정보 : ' + data;

        console.log(itemInfo);
        console.log(userInfo);

        if (<%= type %> === 'all') {
            document.getElementById('#item').innerHTML(itemInfo);
            document.getElementById('#user').innerHTML(userInfo);
        } else if (<%= type %> === 'items') {
            document.getElementById('#item').innerText(itemInfo);
        } else if (<%= type %> === 'users'){
            document.getElementById('#user').innerText(userInfo);
        }

    </script>
</head>

<body>
    <p>유대혁</p>
    <h2><span id = 'item'></span></h2>
    <h2><span id = 'user'></span></h2>
    
    <button id="button1" onclick="button1_click();">alert버튼</button>
    <br>
    <br>
    <form action="/" method="get">
        <button type="submit">/ url get요청</button>
    </form>
    <br>
    <form action="/items" method="get">
        <button type="submit">items url get요청</button>
    </form>
    <br>
    <form action="/users" method="get">
        <button type="submit">user url get요청</button>
    </form>

</body>

</html>